.footer{
    background-color: gray;
    height: 45px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    .legend{
        text-align: center;
        top: 10px;
        font-size: 20px;
    }
}